body{
  margin:0;
}
#wrapper {
  width: 1000px;
  margin:0 auto;
}
/* Navbar container */
.navbar {
  overflow: hidden;
  background-color: #333;
  font-family: Arial;
}

/* Links inside the navbar */
.navbar a {
  float: left;
  font-size: 16px;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* The dropdown container */
.dropdown {
  float: left;
  overflow: hidden;
}

/* Dropdown button */
.dropdown .dropbtn {
  font-size: 16px;
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit; /* Important for vertical align on mobile phones */
  margin: 0; /* Important for vertical align on mobile phones */
}

/* Add a red background color to navbar links on hover */
.navbar a:hover, .dropdown:hover .dropbtn {
  background-color: red;
}

/* Dropdown content (hidden by default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

/* Add a #DCDCDC background color to dropdown links on hover */
.dropdown-content a:hover {
  background-color: #ddd;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}
a {
  color:black;
  text-decoration: none;
}
h1 {
  font-size:45px;
  text-align: center;
  border-bottom:1px solid #DCDCDC;
  margin:0;
  padding:20px;
  width: none;
}
#grid {
  display: grid;
  grid-template-columns: 150px 1fr;
}
#grid ol{
  border-right:1px solid #DCDCDC;
  border-left:1px solid #DCDCDC;
  width: 220px;
  margin:0;
  padding:20px;
  padding-left:40px;
}
#grid #article {
  padding-left: 160px;
  border-right: 1px solid #DCDCDC;
  padding-right: 25px;
}
@media (max-width:820px){
  #grid{
     display: block;
   }
  #grid ol{
     border-right:none;
   }
  h1 {
     border-bottom:none;
     padding:0px;
   }
}
